.joinPage {
    width: 100%;
    height: 100vh;
    background-color: #221518;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.box {
    width: 420px;
    background-color: #f7e1bcd6;
    padding: 35px 30px;
    border-radius: 12px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
    text-align: center;
}

.title {
    color: #6f4e37;
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.text {
    color: #6d4c41;
    font-size: 17px;
    margin-bottom: 10px;
}

.smallNote {
    color: #6f4e37;
    font-size: 15px;
    margin-bottom: 20px;
    opacity: .8;
}


/* Selection buttons */

.selectBox {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
}

.selectBtn {
    background-color: #fff4e3;
    border: 1px solid #6f4e37;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.3s ease;
    color: #6f4e37;
}

.selectBtn.active {
    background-color: #6f4e37;
    color: white;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input {
    padding: 12px 14px;
    border-radius: 8px;
    border: 1px solid #6f4e37;
    background-color: #fff5eb;
    color: #6f4e37;
    font-size: 15px;
}

.input:focus {
    outline: none;
    border-color: #8d6e63;
}

.button {
    background-color: #6d4c41;
    color: white;
    padding: 12px;
    border-radius: 25px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.button:hover {
    background-color: #8d6e63;
    transform: scale(1.05);
}

.reveal {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.8s ease;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}